<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body class="p-4">
       
      <h1>Sign Up</h1>

      <form action="{% url 'djangoapp:registration' %}" method="post">
        {% csrf_token %}
        <div>
            <div class="form-group">
                <label for="">User Name</label>
                <input placeholder="Enter User Name" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="">First Name</label>
              <input placeholder="Enter First Name" class="form-control" name="first_name">
          </div>
          <div class="form-group">
              <label for="">Last Name</label>
              <input placeholder="Enter Last Name" class="form-control" name="last_name">
          </div>
          <div class="form-group">
              <label for="">Password</label>
              <input placeholder="Enter Password" class="form-control" name="password" type="password">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>

    </body>
</html>